<!DOCTYPE html>
<html>
<head>
  <title>+1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <style type="text/css">
    .image-avatar {
      float: left;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-right: 10px;
      margin-top: 10px;
      border: 1px solid #fed724;
    }

    .commnet-container .image-avatar {
      width: 40px;
      height: 40px;
    }

    .user-detail {
      padding-top: 26px;
      font-size: 18px;
    }

    .post-image {
      width: 100%;
      margin-top: 20px;
    }

    .post-text {
      margin: 20px 0;
      text-align: center;
      font-size: 16px;
      color: #666666;
    }

    .post-detail {
      margin: 10px 0;
      height: 20px;
      font-size: 14px;
      color: #999999;
    }

    .divding-line {
      height: 2px;
      background: #fed724;
    }

    .comment-detail {
      padding-top: 10px;
    }

    .comment-content {
      overflow: hidden;
      margin-right: 10px;
      word-wrap: break-word;
    }

    .post-no-image {
      width: 100%;
      text-align: center;
      padding-top: 80px;
      height: 80px;
      color: #666666;
    }

    .post-info-img {
      width: 18px;
      margin-left: 20px;
    }

    .user_icon {
      width: 18px;
      margin-left: 6px;
      margin-bottom: -4px;
    }

    img[src=""] {
      display: none;
    }

    .reply-comment {
      padding-left: 30px;
    }

    .comment-detail{
      color: #999999;
      font-size: 12px;
    }

  </style>
</head>
<body>
  <div class="header">
    <%= user_avatar(@post.user)%>
    <div class="user-detail">
      <%= name_span(@post.user)%>
      <%= gender_icon(@post.user.gender) %>
    </div>
  </div>
    <% if(@post.post_pages[0].image)%>
      <img id="post-image" class="post-image" src="<%= image_url(@post.post_pages[0].image) %>">
      <div class="post-text"><%= @post.post_pages[0].text %></div>
    <% else %>
    <div class="post-no-image"><%= @post.post_pages[0].text %></div>
    <% end %>
  <div class="post-detail">
    <div style="float: left;">
      <span id="time-ago"><%= time_ago(@post.post_pages[0].created_at)%></span>
    </div>
    <div style="float: right; margin-right: 20px">
      <img class="post-info-img" src="../images/icon_views.png">
      <span><%= @post.spreads_count %></span>
      <img class="post-info-img" style="margin-bottom: -2px" src="../images/icon_comment.png">
      <span><%= @post.comments.length %></span>
    </div>
  </div>
  <div class="divding-line"></div>
  <%= comments_list(@post.comments) %>
</body>
</html>